body{
    background-color: #fbfbfb;
}

/* navbar */

.navbar-beranda{
    background-color: #F2F2F2;
}

.navbar-brand{
    margin-left: 80px;
   }

#myNavbar {
  padding-left: 502.5px;
}

.btn-search {
    position: absolute;
    top: 12px;
    right: 15px;
    height: 36px;
    width: 36px;
    background: transparent;
    border-radius: 40px;
    border: none;
}

.fa-search{
    background-color: transparent;
    color: #2C448C;
    margin-bottom: 100px;
  }
  
  .search {
    position: relative;
}

.form-control{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.search input {
    height: 40px;
    width: 340px;
    text-indent: 5px;
    border-radius: 15px;
    border: none;
}

.circle-button [class*="fa fa-"] {
    
    background-color:transparent;
    border-radius: 50%;
    color: #2C448C;
    display: inline-block;
    height: 30px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 25px;
    width: 26.67px;
    font-size: 18px;
    text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
    margin-top: 5px;
}

.img-circle-big {
	border-radius: 50%;
	width: 57px;
	height: 57px;
    display: table-cell; 
  vertical-align: top; 
  margin-left: 10px;
  margin-right: 5px;
}

.profile-wrap{
  display: table-row;
}
.setting-title{
  display: table-cell; vertical-align: top; 
}

/* page */
/* .container{
    padding: 0px;
    margin: 0px;
} */

#contentEditPassword,
#contentEditProfile,
#contentProfilBerlangganan {
    padding: 30px 165px 50px 165px;
}

.img-profile{
    height: 100px;
    width: 102px;
    border-radius: 100%;
    float: right;
}

.img-thumbnail {
    height: 100px;
    width: 102px;
    border-radius: 100%;
    float: right; 
}

#namaNprodi{
    margin-top: auto;
    margin-bottom: auto;
}

#setelan {
    padding: 10px;
    border-bottom: 0.5px solid #1A1A1A;
    text-align: left;
    /* font/heading 3 */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    letter-spacing: 0.005em;

    /* color/text 1 */

    color: black;
}

#statusBerlangganan, #teks-setelan{
    padding: 10px;
}


p {
    /* font/text 4 */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    /* or 183% */

    align-items: left;
    letter-spacing: 0.005em;
    
    /* color/other/disable */

    color: #BCBCBC;
}


h1 {

    color: #2C448C;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
}

h4 {
    /* font/heading 3 */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: right;
    letter-spacing: 0.005em;

    /* color/text 1 */

    color: #1A1A1A;
}


h6 {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    font-weight: 400px;
    align-items: left;

    color: #1A1A1A;

    margin-bottom: 5px;
    margin-top: 5px;
}

h5 {

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.005em;

    /* color/primary 1 */
    color: #2C448C;
}

h2 {
    height: 24px;
    width: 245px;
    left: 529px;
    top: 64px;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: black;

}

a{
    text-decoration: none;
}

#change-photo{
    margin-bottom: 50px;
}

input, .form-control {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;

    border: 0.5px solid #1A1A1A;
    box-sizing: border-box;
}

.form-change-password:focus {
    outline: none;
    box-shadow: none;
}

span{
    height: 40px;
}

#passwordLama,  #konfirmNewPassword{
    color: transparent;
}


button {
    height: 40px;
    width: 131px;
    border-radius: 15px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    background: #BCBCBC;

    color: white;
}

#btnSimpan,#btn-simpan{
    position: fixed;
    top: 110px;
    right: 15%;
}

.btn-Ganti {
    height: 40px;
    width: 232px;
    border-radius: 15px;
    background: #2C448C;
    align-self: center;
}

#paket{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border: 0.5px solid black;
}
