* {
    margin: 0;
    background-color: #e5e5e5;
    overflow-x: hidden;
}

#leftPicture {
    height: 708px;
    width: 932px;
    left: -212px;
}

#contenLogin {
    margin: 143px 165px 48px 110px;
}

#contenRegis {
    margin: 96px 165px 48px 110px;
}

#valUser,
#valMail,
#verPass,
#valPass {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.005em;
    text-align: left;
    color: transparent;
}

#valPass {
    color: #2C448C;
}

#text {
    color: #2C448C;
}

::placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;

}

#Kepala {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.005em;
    text-align: left;

}

#Leher {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: left;
    margin-top: -10px;
    margin-bottom: 50px;

}


#inputUser,
#inputMail,
#inputPassword,
#validationPassword {
    margin-bottom: 60px;
    margin-top: -10px;
    background-color: #fbfbfb;
    border-radius: 15px;
}

#toggle_pwd1,
#toggle_pwd2,
#gembok,
#orang,
#mail {
    background-color: transparent;
}

.layer-1 {
    width: 80px;
    height: 80px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 11;
}

.form-control {
    background-color: #fbfbfb;
}

.form-control,
#btnSubmited {
    height: 55px;
    width: 445px;
    width: 100%;
    left: 0px;
    top: 0px;
}


#btnSubmited {
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    background-color: #BCBCBC;
}

.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

a {
    text-decoration: none;
}

#sudah {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 20px;
}