body{
    background-color: #fbfbfb;
}

/* navbar */

.navbar-beranda{
    background-color: #F2F2F2;
}

.navbar-brand{
    margin-left: 80px;
   }

#myNavbar {
  padding-left: 502.5px;
}

.btn-search {
    position: absolute;
    top: 12px;
    right: 15px;
    height: 36px;
    width: 36px;
    background: transparent;
    border-radius: 40px;
    border: none;
}

.fa-search{
    background-color: transparent;
    color: #2C448C;
    margin-bottom: 100px;
  }
  
  .search {
    position: relative;
}

.form-control{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

.search input {
    height: 40px;
    width: 340px;
    text-indent: 5px;
    border-radius: 15px;
    border: none;
}

.circle-button [class*="fa fa-"] {
    
    background-color:transparent;
    border-radius: 50%;
    color: #2C448C;
    display: inline-block;
    height: 30px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 25px;
    width: 26.67px;
    font-size: 18px;
    text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
    margin-top: 5px;
}

.img-circle-big {
	border-radius: 50%;
	width: 57px;
	height: 57px;
    display: table-cell; 
  vertical-align: top; 
  margin-left: 10px;
  margin-right: 5px;
}

.profile-wrap{
  display: table-row;
}
.setting-title{
  display: table-cell; vertical-align: top; 
}

img {
    border-radius: 100%;
}

h3 {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.005em;
    text-align: center;
    margin-top: 32px;
}

#content {
    margin: 180px 444px 317px 444px;
}