body {
    background-color: transparent;
}

img {
    border-radius: 100%;
}

h3 {
    /* font/heading 2 */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;

    /* color/primary 1 */

    color: #2C448C;
}

#content {
    margin: 100px 444px 200px 444px;
}

p {
    /* font/text 2 */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    /* identical to box height, or 167% */

    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;

    /* color/primary 1 */

    color: #2C448C;
}

/* Navbar */

.navigasi {
    margin-left: 165px;
}

#myNavbar {
    padding-left: 272.5px;
    padding-top: 10px
}

.nav-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.005em;
    margin-left: 26.5px;
    white-space: nowrap;
}

.btn-masuk {
    background-color: #2c448c;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 10px;
    margin-left: 25px;
    width: 146px;
    font-size: 18px;
    height: 39px;
}

.btn-masuk:hover {
    color: #84acf8;
}

/* footer */
.container-footer {
    font-family: 'Roboto';
    color: white;
    text-align: center;
    /* height: 80px; */
    background-color: #2C448C;
    backdrop-filter: blur(4px);
    padding-top: 20px;
    padding-bottom: 15px;
}

h6 {
    background-color: transparent;
}