#content {
    margin: 20px 165px 23px 165px;
}

/* navbar */

.navbar-beranda {
    background-color: #F2F2F2;
}

.navbar-brand {
    margin-left: 80px;
}

#myNavbar {
    padding-left: 502.5px;
}

.btn-search {
    position: absolute;
    top: 12px;
    right: 15px;
    height: 36px;
    width: 36px;
    background: transparent;
    border-radius: 40px;
    border: none;
}

.fa-search {
    background-color: transparent;
    color: #2C448C;
    margin-bottom: 100px;
}

.search {
    position: relative;
}

.form-control {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.search input {
    height: 40px;
    width: 340px;
    text-indent: 5px;
    border-radius: 15px;
    border: none;
}

.circle-button [class*="fa fa-"] {

    background-color: transparent;
    border-radius: 50%;
    color: #2C448C;
    display: inline-block;
    height: 30px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 25px;
    width: 26.67px;
    font-size: 18px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.img-circle-big {
    border-radius: 50%;
    width: 57px;
    height: 57px;
    display: table-cell;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 5px;
}

.profile-wrap {
    display: table-row;
}

.setting-title {
    display: table-cell;
    vertical-align: top;
}

#formPertanyaan {
    margin-left: 20px;
}

.circle-button [class*="fa fa-"] {

    background-color: transparent;
    border-radius: 50%;
    color: #2C448C;
    display: inline-block;
    height: 30px;
    line-height: 40px;
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 25px;
    width: 26.67px;
    font-size: 18px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.img-circle-big {
    border-radius: 50%;
    width: 57px;
    height: 57px;
    display: table-cell;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 5px;
}

.profile-wrap {
    display: table-row;
}

.setting-title {
    display: table-cell;
    vertical-align: top;
}

/* edn of navbar */

h5 {
    /* font/heading 3 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;

    /* identical to box height, or 171% */
    letter-spacing: 0.005em;

    /* color/primary 1 */
    color: #2C448C;
    margin-bottom: 0px;
}

#jenis {
    /* Auto Layout */
    margin-left: 10px;
    align-items: center;
    padding: 5px 10px;
    position: static;
    width: 82px;
    height: 24px;
    /* color/other/disable */
    background-color: #BCBCBC;
    border-radius: 5px;
    /* font/text 4 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */
    letter-spacing: 0.005em;
    /* color/text 2 */
    color: #FBFBFB;

}

#prodi {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #84ACF8;
}

#pertanyaan {
    width: 100%;
    height: 55px;
    padding: 15px 20px 15px 20px;
    margin-bottom: 20px;

    border: none;
    background-color: transparent;

    /* font/heading 3 */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    display: flex;
    align-items: center;
    letter-spacing: 0.005em;

    /* color/text 1 */

    color: #1A1A1A;
}

#alert {
    /* font/text 4 */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    /* identical to box height, or 183% */

    letter-spacing: 0.005em;

    /* color/other/red */

    color: #C90000;
}

.mr-3 {
    width: 55px;
    height: 55px;
}

textarea {
    width: 100%;
    height: 220px;
    padding: 15px 0px 15px 0px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
    border: none;
    margin-top: 10px;
    border-top: 2px solid black;
}

#descPertanyaan {
    padding-left: 20px;
    padding-right: 20px;
    height: 280px;
    border-radius: 20px;

}

input:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.pertanyaan::placeholder {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.005em;
    text-align: left;
}

label {
    padding: 0px 10px 0px 10px;
    font-size: 25px;
}

#file {
    display: none;
}

#descKategori {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #BCBCBC;
}

#fakultas,
#programStudi,
#matkul {
    /* font/text 3 */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.005em;

    /* color/other/disable */

    color: #BCBCBC;

    border: none;
    background-color: transparent;
}

/* input[type="text"] {

    background-color: red;

} */

#kategori {
    margin-top: 20px;
}

#btnSubmited {

    position: fixed;
    top: 120px;
    right: 200px;
    z-index: 11;

    height: 40px;
    width: 131px;
    background-color: #2C448C;
    border-radius: 15px;
    /* font/heading 3 */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    align-items: center;
    text-align: center;
    letter-spacing: 0.005em;
    /* color/text 2 */
    color: #FBFBFB;
    outline: none !important;
}

#btnSubmited:hover {
    background-color: #84ACF8;
}