.body {
    background-color: #fbfbfb;
}



/* KOLOM SETTING PROFILE CONTROLLER */





/* KOLOM EDIT PROFIL */

.img-thumbnail {

    border-radius: 100%;

}




.input {
    height: 40px;
    width: 415px;
    border-radius: 10px;

    border: 0.5px solid #1A1A1A;
    box-sizing: border-box;
    border-radius: 10px;

}



/* KOLOM TOMBOL SIMPAN */

.btn-simpan {

    background-color: #bcbcbc;
    color: white;
    height: 40px;
    width: 131px;
    border-radius: 15px;
 
    align-items: center;
    text-align: center;
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    transition: 0.5s;
    position: absolute;
    overflow: hidden;

}