<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/berlangganan.css">    
    <title>Document</title>
</head>
<body style="background-color: transparent; margin: 150px 250px 150px 250px;">

    <div id="kontenBerlangganan">

        <!-- HEADER -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div align="center">
                        <h1 style="margin-bottom: 12px;">Berlangganan ke Betewe Eksklusif</h1>
                        <img src="assets/images/Rectangle 140 (1).svg" align="center" alt="">
                        <h6 style="margin: 28px 20px 10px 20px;">
                            Bergabunglah dengan ribuan siswa yang menikmati jawaban tak terbatas dengan Betewe Eksklusif hari ini. Batalkan kapan saja di pengaturan akun  anda.
                        </h6>
                        <h5 style="margin: 20px 0px 20px 0px;"> <b>Pilih Rencanamu</b> </h5>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- PILIHAN LANGGANAN -->
        <div class="container" id="pilihanLangganan">
            <div class="row">
    
                <div class="col-xl-4" >
                    <!-- <div id="kotak"> -->
                        <div id="kontenKotak">
                            <p>
                                <b style="font-size: 18px;">100.000/bulan</b>
                                <br>Tahunan <br>
                                <b style="color: red;">Hemat 45%</b>
                            </p>
                            <button class="btn btn-primary" type="button" id="tombolLangganan"> <b>Langganan</b> </button>
                        </div>    
                    <!-- </div> -->
                </div>
    
                <div class="col-xl-4" >
                    <!-- <div id="kotak"> -->
                        <div id="kontenKotak">
                            <p>
                                <b style="font-size: 18px;">140.000/bulan</b>
                                <br>6 Bulan<br>
                                <b style="color: red;">Hemat 30%</b>
                            </p>
                            <button class="btn btn-primary" type="button" id="tombolLangganan"> <b>Langganan</b> </button>
                        </div>
                    <!-- </div> -->
                </div>
    
                <div class="col-xl-4" >
                    <!-- <div id="kotak"> -->
                        <div id="kontenKotak">                        
                            <p >
                                <b style="font-size: 18px;">180.000/bulan</b>
                                <br>Bulanan<br>
                                <b style="color: transparent;">#</b>
                            </p>
                            <button class="btn btn-primary" type="button" id="tombolLangganan"> <b>Langganan</b> </button>
                        </div>
                    <!-- </div> -->
                </div>
    
                <!-- <div class="col-md-1">
                </div> -->
            </div>
        </div>
    
        <!-- FOOTER -->
        <div class="container">
            <div class="row" >
                <div class="col-12" align="left" >
                <p  style="margin: 55px 25px 0px 25px;">
                    Detail penagihan: <br>
                    Dengan mengklik "Beli" Anda menyatakan bahwa anda telah membaca dan menyetujui Persyaratan Pengguna dan Kebijakan Privasi kami, dan Anda setuju bahwa Anda akan dikenakan harga yang sama setiap 12 bulan sampai anda membatalkan keanggotaan anda. Anda dapat membatalkan langganan anda dengan mengakses bagian pengaturan akun anda
                </p>                        
                </div>
            </div>
        </div>
    </div>
</body>
</html>