<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/profil.css">
    <title>Document</title>
</head>
<body>
    
    <!-- CONTENT -->
    <div id="contentUtama">
        <div class="container">
            <div class="row">

                <!-- PROFIL PENGGUNA -->
                <div class="col-lg-4" id="profilUser">
                    <div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn"><img src="assets/images/edit.svg" alt=""></button>
                        </div>
                        <img id="fotoUser" src="assets/images/Ava user.svg" alt="">
                    </div>
                    <div>
                        <h3 id="userName">Nana</h3>
                        <h5 id="prodi">S1 Sastra Indonesia</h5>
                    </div>

                    <!-- detailPengguna -->
                    <div class="container" id="detailPengguna">
                        <div class="row">
                            <div class="col-5">
                                <h6>Nama Pengguna</h6>
                                <h6>Email</h6>
                                <h6>Situs</h6>
                            </div>
                            <div class="col-7">
                                <h6 id="detail">@nunanuna</h6>
                                <h6 id="detail">nunanuna@gmail.com</h6>
                                <h6 id="detail">website.com/nuna-page</h6>
                            </div>
                        </div>
                    </div>

                    <!-- tombol berlangganan -->
                    <button id="berlangganan">berlangganan</button>
                </div>

                <!-- RIWAYAT PERTANYAAN DAN FORUM -->
                <div class="col-lg-8">
                
                </div>
            </div>
        </div>
    </div>
</body>
</html>