<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/searchNoLogin.css">

    <!-- script scrollup -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="assets/js/searchPage.js"></script>


    <title>Search</title>
</head>
<body>

    <div id="contentUtama" style="background-color: #f2f2f2;">

        <div>
            <h5>Hasil pencarian untuk kata '<span id="keywoard">management</span>'</h5>
            <h6>Sekitar <span id="count">21</span> hasil</h6>
        </div> 

        <!-- search -->
        <div class="container" style="margin-top: 30px; padding: 0px;">
            <div class="row">

                <!-- Result #1-->
                <div class="col-8" id="searchResult">
                        <div class="isi-beranda" style="background-color: #ffff; border-radius: 20px;">
                            <div class="row">
                            <!-- Foto Profil Isi -->
                            <div class="col-lg-1">
                                <img class="img-beranda" src="assets/images/user.jpg" alt="" />
                            </div>
                            <div class="col-lg-10">
                            <!-- Setting -->
                                <a class="setting" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/images/options.svg" class="img-setting" style="width:24px; height: 24px;">
                                </a>
                                <div class="dropdown-menu" id="menu-setting">
                                    <a class="dropdown-setting" href="#popup2"> <i class="far fa-share-square" ></i> Bagikan</a>
                                    <a class="dropdown-setting" href="#"><i class="far fa-save"></i> Simpan</a>
                                    <a class="dropdown-setting" href="#"><i class="far fa-bell"></i> Beritahu Perubahan</a>
                                    <a class="dropdown-setting" href="#"><i class="far fa-frown"></i> Tidak tertarik</a>
                                    <a class="dropdown-setting" href="#"><i class="far fa-flag"></i> Laporkan</a>
                                </div>
                                <!-- Keterangan Profile -->
                                <div class=profile-bar>
                                    <div class="profile-nama"> Alanis Morisette </div>
                                    <span class="profile-jenis">Pertanyaan</span>
                                    <div class="profile-jurusan"> S1 Manajemen</div>
                                </div>
                            </div>
                            </div>
                        
                            <!-- Vote -->
                            <div class="row">
                            <div class="col-lg-1">
                                <div class ="vote">
                                    <div class="like">
                                        <img src="assets/images/arrow-up.png" style="width: 28px; height: 28px;">
                                    </div>
                                    <div class="count-vote">
                                        24
                                    </div>
                                    <div class="dislike">
                                        <img src="assets/images/arrow-down.png"  style="width: 28px; height: 28px;">
                                    </div>
                                </div>
                            </div>
                            <!-- isi pertanyaan/Forum -->
                            <div class="col-sm-8 col-lg-10">
                                <div class="konten">
                                    Manajemen adalah suatu proses dimana suatu kelompok orang bekerja sama mengarahkan orang lainnya untuk bekerja mencapai tujuan yang sama, hal ini dikemukakan oleh?
                                </div>
                                <!-- Preview Isi max 3 kalimat -->
                                <!-- <div class="preview-isi">
                                    Ada satu sumber data dari brosur wisata Tembok Besar Tiongkok yang menyebutkan bahwa biaya pembangunan Tembok Besar atas dasar biaya saat ini yaitu sebesar $ 95 milyar ...
                                </div> -->
                                <!-- Kategori Pertanyaan/forum -->
                                <ul class="tag-kategori">
                                    <li class="kategori"> Bisnis </li>
                                    <li class="kategori"> Manajemen </li>
                                </ul>
                                <!-- Tombol Jawab -->
                                <button class="btn-answer">
                                Jawab
                                </button>
                                <div class="konten-time">
                                    2 menit yang lalu
                                </div>
                            </div>
                            </div>
                        </div>
                </div>

                <!-- Result #2 -->
                <div class="col-8" id="searchResult">
                    <div class="isi-beranda" style="background-color: #ffff; border-radius: 20px;">
                        <div class="row">
                        <!-- Foto Profil Isi -->
                        <div class="col-lg-1">
                            <img class="img-beranda" src="assets/images/user2.jpg" alt="" />
                        </div>
                        <div class="col-lg-10">
                        <!-- Setting -->
                            <a class="setting" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/options.svg" class="img-setting" style="width:24px; height: 24px;">
                            </a>
                            <div class="dropdown-menu" id="menu-setting">
                                <a class="dropdown-setting" href="#popup2"> <i class="far fa-share-square" ></i> Bagikan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-save"></i> Simpan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-bell"></i> Beritahu Perubahan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-frown"></i> Tidak tertarik</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-flag"></i> Laporkan</a>
                            </div>
                            <!-- Keterangan Profile -->
                            <div class=profile-bar>
                                <div class="profile-nama"> Marischka Prudence </div>
                                <span class="profile-jenis">Pertanyaan</span>
                                <div class="profile-jurusan"> S1 Manajemen</div>
                            </div>
                        </div>
                        </div>
                    
                        <!-- Vote -->
                        <div class="row">
                        <div class="col-lg-1">
                            <div class ="vote">
                                <div class="like">
                                    <img src="assets/images/arrow-up.png" style="width: 28px; height: 28px;">
                                </div>
                                <div class="count-vote">
                                    22
                                </div>
                                <div class="dislike">
                                    <img src="assets/images/arrow-down.png"  style="width: 28px; height: 28px;">
                                </div>
                            </div>
                        </div>
                        <!-- isi pertanyaan/Forum -->
                        <div class="col-sm-8 col-lg-10">
                            <div class="konten">
                                Apa saja bidang kegiatan yang masih memerlukan keahlian manajemen operasional?
                            </div>
                            <!-- Kategori Pertanyaan/forum -->
                            <ul class="tag-kategori">
                                <li class="kategori"> Manajemen </li>
                                <li class="kategori"> Manajemen Operasional </li>
                            </ul>
                            <!-- Tombol Jawab -->
                            <button class="btn-answer">
                            Jawab
                            </button>
                            <div class="konten-time">
                                10 menit yang lalu
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <!-- Result #3 -->
                <div class="col-8" id="searchResult">
                    <div class="isi-beranda" style="background-color: #ffff; border-radius: 20px;">
                        <div class="row">
                        <!-- Foto Profil Isi -->
                        <div class="col-lg-1">
                            <img class="img-beranda" src="assets/images/user3.jpg" alt="" />
                        </div>
                        <div class="col-lg-10">
                        <!-- Setting -->
                            <a class="setting" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/options.svg" class="img-setting" style="width:24px; height: 24px;">
                            </a>
                            <div class="dropdown-menu" id="menu-setting">
                                <a class="dropdown-setting" href="#popup2"> <i class="far fa-share-square" ></i> Bagikan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-save"></i> Simpan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-bell"></i> Beritahu Perubahan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-frown"></i> Tidak tertarik</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-flag"></i> Laporkan</a>
                            </div>
                            <!-- Keterangan Profile -->
                            <div class=profile-bar>
                                <div class="profile-nama"> Archiebald Hu </div>
                                <span class="profile-jenis">Pertanyaan</span>
                                <div class="profile-jurusan"> S1 Manajemen</div>
                            </div>
                        </div>
                        </div>
                    
                        <!-- Vote -->
                        <div class="row">
                        <div class="col-lg-1">
                            <div class ="vote">
                                <div class="like">
                                    <img src="assets/images/arrow-up.png" style="width: 28px; height: 28px;">
                                </div>
                                <div class="count-vote">
                                    20
                                </div>
                                <div class="dislike">
                                    <img src="assets/images/arrow-down.png"  style="width: 28px; height: 28px;">
                                </div>
                            </div>
                        </div>
                        <!-- isi pertanyaan/Forum -->
                        <div class="col-sm-8 col-lg-10">
                            <div class="konten">
                                Ada empat wilayah pengukuran tujuan sosial, dimana untuk setiap wilayah diperlukan pengukuran yang lebih spesifik, salah satunya adalah wilayah ekonomi. Yang dimaksud dengan wilayah ekonomi adalah?
                            </div>
                            <!-- Kategori Pertanyaan/forum -->
                            <ul class="tag-kategori">
                                <li class="kategori"> Manajemen </li>
                                <li class="kategori"> Manajemen Ekonomi </li>
                            </ul>
                            <!-- Tombol Jawab -->
                            <button class="btn-answer">
                            Jawab
                            </button>
                            <div class="konten-time">
                                12 menit yang lalu
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- Result #4 -->
                <div class="col-8" id="searchResult">
                    <div class="isi-beranda" style="background-color: #ffff; border-radius: 20px;">
                        <div class="row">
                        <!-- Foto Profil Isi -->
                        <div class="col-lg-1">
                            <img class="img-beranda" src="assets/images/user4.jpg" alt="" />
                        </div>
                        <div class="col-lg-10">
                        <!-- Setting -->
                            <a class="setting" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/options.svg" class="img-setting" style="width:24px; height: 24px;">
                            </a>
                            <div class="dropdown-menu" id="menu-setting">
                                <a class="dropdown-setting" href="#popup2"> <i class="far fa-share-square" ></i> Bagikan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-save"></i> Simpan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-bell"></i> Beritahu Perubahan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-frown"></i> Tidak tertarik</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-flag"></i> Laporkan</a>
                            </div>
                            <!-- Keterangan Profile -->
                            <div class=profile-bar>
                                <div class="profile-nama"> Eliot Suanders </div>
                                <span class="profile-jenis">Forum</span>
                                <div class="profile-jurusan"> S1 Manajemen</div>
                            </div>
                        </div>
                        </div>
                    
                        <!-- Vote -->
                        <div class="row">
                        <div class="col-lg-1">
                            <div class ="vote">
                                <div class="like">
                                    <img src="assets/images/arrow-up.png" style="width: 28px; height: 28px;">
                                </div>
                                <div class="count-vote">
                                    19
                                </div>
                                <div class="dislike">
                                    <img src="assets/images/arrow-down.png"  style="width: 28px; height: 28px;">
                                </div>
                            </div>
                        </div>
                        <!-- isi pertanyaan/Forum -->
                        <div class="col-sm-8 col-lg-10">
                            <div class="konten">
                                Sebutkan hal-hal yang harus diperhatikan dalam proses manajemen pemasaran!
                            </div>
                            <!-- Preview Isi max 3 kalimat -->
                            <div class="preview-isi">
                                Dalam proses manajemen pemasaran ada beberapa hal yang harus diperhatikan agar dapat mencapai tujuan yang telah ditentukan. 
                            </div>
                            <!-- Kategori Pertanyaan/forum -->
                            <ul class="tag-kategori">
                                <li class="kategori"> Manajemen </li>
                                <li class="kategori"> Manajemen Keuangan </li>
                            </ul>
                            <!-- Tombol Jawab -->
                            <button class="btn-answer">
                            Jawab
                            </button>
                            <div class="konten-time">
                                17 menit yang lalu
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <!-- Result #5 -->
                <div class="col-8" id="searchResult">
                    <div class="isi-beranda" style="background-color: #ffff; border-radius: 20px;">
                        <div class="row">
                        <!-- Foto Profil Isi -->
                        <div class="col-lg-1">
                            <img class="img-beranda" src="assets/images/user5.jpg" alt="" />
                        </div>
                        <div class="col-lg-10">
                        <!-- Setting -->
                            <a class="setting" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/images/options.svg" class="img-setting" style="width:24px; height: 24px;">
                            </a>
                            <div class="dropdown-menu" id="menu-setting">
                                <a class="dropdown-setting" href="#popup2"> <i class="far fa-share-square" ></i> Bagikan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-save"></i> Simpan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-bell"></i> Beritahu Perubahan</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-frown"></i> Tidak tertarik</a>
                                <a class="dropdown-setting" href="#"><i class="far fa-flag"></i> Laporkan</a>
                            </div>
                            <!-- Keterangan Profile -->
                            <div class=profile-bar>
                                <div class="profile-nama"> Natasha O'Gallagher </div>
                                <span class="profile-jenis">Forum</span>
                                <div class="profile-jurusan"> S1 Manajemen</div>
                            </div>
                        </div>
                        </div>
                    
                        <!-- Vote -->
                        <div class="row">
                        <div class="col-lg-1">
                            <div class ="vote">
                                <div class="like">
                                    <img src="assets/images/arrow-up.png" style="width: 28px; height: 28px;">
                                </div>
                                <div class="count-vote">
                                    16
                                </div>
                                <div class="dislike">
                                    <img src="assets/images/arrow-down.png"  style="width: 28px; height: 28px;">
                                </div>
                            </div>
                        </div>
                        <!-- isi pertanyaan/Forum -->
                        <div class="col-sm-8 col-lg-10">
                            <div class="konten">
                                Mengembangkan Strategi Pemasaran dan Bauran Pemasaran Terintegrasi
                            </div>
                            <!-- Preview Isi max 3 kalimat -->
                            <div class="preview-isi">
                                Setelah strategi pemasaran ditetapkan maka perusahaan diharapkan untuk menerapkan dan merencanakan rincian bauran pemasaran (Marketing Mix) merupakan kumpulan alat pemasaran taktis terkendali – produk, harga, tempat, dan promosi yang dipadukan perusahaan untuk menghasilkan respons yang diinginkan di pasar sasaran.
                            </div>
                            <!-- Kategori Pertanyaan/forum -->
                            <ul class="tag-kategori">
                                <li class="kategori"> Manajemen </li>
                                <li class="kategori"> Manajemen Pemasaran </li>
                            </ul>
                            <!-- Tombol Jawab -->
                            <button class="btn-answer">
                            Jawab
                            </button>
                            <div class="konten-time">
                                23 menit yang lalu
                            </div>
                        </div>
                        </div>
                    </div>
                </div>




                <!-- iklan -->
                <div class="col-4" id="iklan" style="position: initial;">
                    <div>
                        <img src="assets/images/iklan-1 BUAT AKUN SEKARANG 1.svg" alt="">
                    </div><br>
                    <div>
                        <img src="assets/images/iklan-2 BUAT AKUN SEKARANG (1) 1.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- page number -->
        <div class="container">
            <div class="row">
                <div class="col-8"></div>
                <div class="col-4">
                    <div id="pageNumber">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="<">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">...</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                    <a class="page-link" href="#" aria-label=">">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--  Footer -->
    <div class= "container-footer">
        <h6 style="color: white;">©2020 PT Betewe Apa ya. All Rights Reserved</h6>
        <h6 style="margin-top: 8px; color: white;">Privacy — Terms</h6>
    </div> 

</body>
</html>