<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

      <!-- google font -->
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

      <!-- CSS -->
      <link rel="stylesheet" href="assets/css/about.css" />

      <!-- script -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="assets/js//scrollUp.js"></script>

      <title>BETEWE</title>
</head>


<body>

      <!-- Profil Anggota Kelompok -->

      <section class="pemrakarsa-betewe">
            <div class="container">
                  <div class="row">
                        <div class="teks-judul-profil">
                              <p>Pemrakarsa Betewe</p>
                              <div class="borderline-judul"></div>
                        </div>
                  </div>
            </div>

            <div class="slider-area-profil">
                  <div class="container">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                              <!-- indicators -->
                              <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                          class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                          aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                          aria-label="Slide 3"></button>
                                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                                          aria-label="Slide 4"></button>
                              </div>


                              <!-- slides content -->
                              <div class="carousel-inner">
                                    <div class="carousel-item active">
                                          <div class="row">
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/frida.jpg" class="d-block w-100"
                                                                  alt="">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Afrida Restu Suryani</h3>
                                                            <h4>UX/UI Designer</h4>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/afina.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Afina Ryanie Dzikrie</h3>
                                                            <h4>UX/UI Designer</h4>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="carousel-item">
                                          <div class="row">
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/jauza.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Jauza Akbar Krito</h3>
                                                            <h4>Tech Lead/Quality Assurance</h4>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/wildan.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Muhammad Wildan Aizzaddin</h3>
                                                            <h4>Back-End Developer</h4>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/aldy.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Rivaldy Valentino</h3>
                                                            <h4>Back-End Developer</h4>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="carousel-item">
                                          <div class="row">
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/dwiky.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Dwiky Darmawansyah</h3>
                                                            <h4>Back-End Developer</h4>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/yoppie.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Yoppie Raditya Wicaksono</h3>
                                                            <h4>Back-End Developer</h4>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="carousel-item">
                                          <div class="row">
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/ilyas.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Ilyas Mahfud</h3>
                                                            <h4>Front-End Developer</h4>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/atika.jpg" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Atika Dwi Hanun Amalia</h3>
                                                            <h4>Front-End Developer</h4>
                                                      </div>
                                                </div>
                                                <div class="col">
                                                      <div class="img-area-foto">
                                                            <img src="assets/images/mupti.png" class="d-block w-100"
                                                                  alt="...">
                                                      </div>
                                                      <div class="carousel-caption d-none d-md-block">
                                                            <h3>Aulia Mufti Salsabila</h3>
                                                            <h4>Front-End Developer</h4>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>


                              <!-- controls -->
                              <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                              </button>
                        </div>
                  </div>
            </div>

            <!--  backToTop Button  -->
            <div id="backToTop"></div>
      </section>

      <!--  Footer -->
      <div class="container-footer">
            <h6>©2020 PT Betewe Apa ya. All Rights Reserved</h6>
            <h6 style="margin-top: 8px;">Privacy — Terms</h6>
      </div>


      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                              <h5>First slide label</h5>
                              <p>Some representative placeholder content for the first slide.</p>
                        </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                              <h5>Second slide label</h5>
                              <p>Some representative placeholder content for the second slide.</p>
                        </div>
                  </div>
                  <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                              <h5>Third slide label</h5>
                              <p>Some representative placeholder content for the third slide.</p>
                        </div>
                  </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
            </button>
      </div>



</body>

</html>